<!DOCTYPE html>
<html>
<head>
    <%- include('partials/header'); %>
</head>
<body>
    <div class="container">
        <%- include ('partials/navbar'); %>
        <p class="text-muted text-right">Usuário: <%=usuario%></p>
        <div class="jumbotron">
            <h1>Bem vindo ao sistema de controle de contatos!</h1>
            <p>Selecione uma opção de cadastro no menu acima...</p>
        </div>
    </div>
</body>
</html>


