<!DOCTYPE html>
<html>
<head>
    <%-include('../partials/header'); %>
</head>
<body>
    <div class="container">
        <%- include ('../partials/navbar'); %>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Cadastro de Categorias</h3>
                <form action="/categorias/salvar" method="POST">
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input class="form-control" id="descricao" type="text" name="descricao"
                            placeholder="Informe o nome da categoria." required>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Salvar">
                    <a href="/categorias/lista" class="btn btn-warning">Lista de categorias</a>
                </form>
            </div>
        </div>
        <% if(mensagem){ %>
        <div class="alert alert-info">
            <strong>Novo registro!</strong> <%= mensagem %>
        </div>
        <% } %>
    </div>
    <%-include('../partials/footer'); %>
</body>
</html>

